{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <div class="create_block2">
        <h1 class="test2">Функциональные требования</h1>
        <p class="p_task">Это приложение Post-It Note. Каждый из нас может что-то забыть, и часто нас выручают бумажные
            тикеры или блокнотики, чтобы туда записывать напоминалки или списки покупок и т.д</p>
        <p class="p_task">Мы живем в 21-ом веке и теперь мы можем использовать для таких действий целый сайт.</p>
        <p class="p_task">Этот сайт содержит ряд незаменимых и удобных функций такие как:</p>
        <ul class="p_task">
            <li>Отслеживание задач</li>
             <li>Создавать задачи, напоминалки</li>
             <li>Удалять задачи</li>
             <li>Отправлять отзыв на почту</li>
        </ul>
        <h3 class="test2">Отслеживание задач</h3>
        <p class="p_task">Во вкладке <a class="link_on_create" href="{% url 'home' %}">Главная</a> мы можем
            отслеживать все задачи, которые у нас есть в нашей базе данных </p>
        <h3 class="test2">Создание задач, напоминаний</h3>
        <p class="p_task">Во вкладке <a class="link_on_create" href="{% url 'create' %}">Создать задачу</a> у нас создаются
        сами задачи (названия и описания)</p>
        <h3 class="test2">Удаление задач</h3>
        <p class="p_task">Если вы выполнили задачу или вы передумали ее выполнять на вкладке
            <a class="link_on_create" href="{% url 'home' %}">Главная</a> около каждой задачи есть кнопка "Выполнить".
            При нажатии наша задача просто удалиться из базы данных.</p>
        <h3 class="test2">Отзыв на приложение</h3>
        <p class="p_task">Если у вас есть комментарии, предложения или замечания вы можете во вкладке
            <a class="link_on_create" href="{% url 'review' %}">Отзыв</a> написать свой комментарий. Он придет ко мне на почту,
        и я обязательно посмотрю его и внесу поправки</p>
    </div>
{% endblock %}
