<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    
</head>
<body>
    <header>
      <h1>Post-It Note</h1>
      <nav>
        <a  class="a_up" href="{% url 'home' %}">Главная</a>
          <a class="a_up" href="{% url 'create' %}">Создать задачу</a>
        <a class="a_up" href="{% url 'about' %}">Приложение</a>
          <a class="a_up "href="{% url 'review' %}">Отзыв</a>
      </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>