{% extends 'main/base.html' %}

{% block title %}
Пройти тест на кто ты из Акацуки
{% endblock %}

{% block content %}
    <h1 class = "test1">Тест: Кто ты из Акацуки?</h1>
    <div class = "div_test1">
        <img src="https://i.ytimg.com/vi/2RPi9hnFFNE/maxresdefault.jpg" class="img_akatsuki"  alt="Акацуки">
        <p class ="p_test1">
            Акацуки (яп. 暁) — организация, собравшая в себе главных антагонистов манги и аниме-сериала «Наруто». Дословно её название означает «рассвет», но омофонически похоже на словосочетание «красная Луна». Согласно сюжету произведения изначально создана ниндзя селения Дождя — Яхико, Конан и Нагато, во время проходившей Второй Великой войны синоби в целях установления мира, но после смерти Яхико впоследствии реформирована Тоби в преступную группировку.
        </p>
        <p class ="p_test1">
            Сейчас мы предлагаем вам пройти тест и узнать, на какого персонажа из Акацуки вы похоже больше всего!
        </p>
        <button type = 'submit' class="button2">Начать тест!</button>
    </div>
{% endblock %}